<!--
    
********************************************************************

ORIGINAL CODE IN THIS FILE COPIED FROM:

https://github.com/Code-Institute-Solutions/AuthenticationAndAuthorisation/tree/master/07-CustomAuthentication/01-email_authentication/templates/registration

********************************************************************
-->

{% extends 'base.html' %} {% block page_heading %}Reset Password{% endblock %} {% block content %}
<p>Please enter your email address</p>

{% csrf_token %} {{ form.email.errors }}

<p>
    <label for="id_email">Email address:</label> {{ form. email }}

    <button>Reset Password</button>

</p>