@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

#tester {
    color: red !important;
}

.nav-title {
    font-family: 'Montserrat', sans-serif;
}

#nav-links-custom {
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.navbar-custom {
    background-color: #004ba8 !important;
}

.container {
    
    /* this is a fix for the footer being positioned absolutely,
        so that it sits on top of the container */
    padding-bottom: 5rem;
}

.footer {

    /*
    This code originally from:
    https://www.freecodecamp.org/news/how-to-keep-your-footer-where-it-belongs-59c6aa05c59c/
    */
    background-color: #004ba8;
    min-height: 5rem;
    position: absolute;
    bottom: 0;
    width: 100%;
}
