{% extends 'base.html' %}

{% block content %}

<h1>Your Commission</h1>
<h2>Name: {{ commission.name }}</h2>
<p>Desc: {{ commission.description }}</p>

{% if commission.paid %}

    <p>Congratulations on your purchase! Your artwork is on it's way to you, we hope you enjoy it. Meanwhile here is what your finished piece looks like. Thank you for using Ozzy's Art Commissions!</p>
    <h2>Completed Commission</h2>
    <img src="{{ commission.type.completed_url }} " class="img-fluid" alt="Completed Commission">


{% else %}
    <h2>Commission Preview</h2>
    <img src="{{ commission.type.preview_url }} " class="img-fluid" alt="Commission Preview">

    <p>If you are happy with your preview, you can pay for it.</p>
    <p>Price: €{{ commission.type.price }}</p>
    <a href="{% url 'checkout' commission.id %}">Pay for Commission</a>
{% endif %}

{% endblock %}