{% extends 'base.html' %}

{% block content %}

<h1>Welcome to Ozzy's Art Commissions</h1>

<p>Want some fabulous custom made artwork? Register an account and login to begin the commission process.</p>

<h2>Recent Commissions</h2>

<p>Here's some work that our satisfied customers have had commissioned recently</p>

<img src="https://raw.githubusercontent.com/seakonn/milestone-four/master/static/img/horses-1596288_1280.jpg" class="img-fluid home-image" alt="Example Commission 1">

<img src="https://raw.githubusercontent.com/seakonn/milestone-four/master/static/img/julius-caesar-4877717_640.png" class="img-fluid home-image" alt="Example Commission 2">

{% endblock %}