{% extends 'base.html' %}

{% block page_heading %}
    Request a Commission
{% endblock %}

{% block content %}

{% if user.is_authenticated %}

<h4>Price List</h4>
{% for type in comm_types %}

        <p>{{ type.type_name }} <span>€{{ type.price }}</span> </p>
        

{% endfor %}

<p>Remember you don't pay for your Commission until after you have requested it and seen your preview</p>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form }}

        <label for="ctype">Choose a Type:</label>

        <select name="ctypes" id="ctype">

            {% for type in comm_types %}
                <option value="{{type.type_name}}">{{type.type_name}}</option>
            {% endfor %}

        </select> 

        <button type="submit">Request Commission</button>
    </form>

{% else %}

<h4>You must be <a href="{% url 'login' %}">logged in</a> to request a commission</h4>

{% endif %}


{% endblock %}