<!--
********************************************************************

ORIGINAL CODE IN THIS FILE COPIED FROM:

https://github.com/Code-Institute-Solutions/AuthenticationAndAuthorisation/tree/master/07-CustomAuthentication/01-email_authentication/accounts/templates

********************************************************************
-->
{% extends 'base.html' %}

{% load bootstrap_tags %}

{% block page_heading %}
Login
{% endblock %}

{% block content %}

<div class="d-flex justify-content-center">
    <form method="POST" class="login-form">
        
        {% csrf_token %} {{ login_form | as_bootstrap }}
        <button type="submit">Login</button>
        
    </form>
</div>

<p class="text-center"><a href="{% url 'password_reset' %}">Reset Password</a></p>

<p>Don't have an account? <a href="{% url 'registration' %} ">Sign up here</a></p>



{% endblock %}