<!--
********************************************************************

ORIGINAL CODE IN THIS FILE COPIED FROM:

https://github.com/Code-Institute-Solutions/AuthenticationAndAuthorisation/tree/master/07-CustomAuthentication/01-email_authentication/accounts/templates

********************************************************************
-->

{% extends 'base.html' %}

{% block page_heading %}
Home
{% endblock %}

{% block content %}

<form method="POST">
    {% csrf_token %} {{ login_form }}
    <button type="submit">Login</button>
</form>
<p><a href="{% url 'password_reset' %}">Reset Password</a></p>

{% endblock %}