<!--
********************************************************************

ORIGINAL CODE IN THIS FILE COPIED FROM:

https://github.com/Code-Institute-Solutions/AuthenticationAndAuthorisation/tree/master/07-CustomAuthentication/01-email_authentication/accounts/templates

********************************************************************
-->

{% extends 'base.html' %}

{% block page_heading %}
{{ user }}'s Profile
{% endblock %}

{% block content %}
    <h1>My Commissions</h1>

    {% for commission in commissions %}

        <p>
        <span> {{ commission.name }} </span>
        <span> {{ commission.description }} </span>
        <span> {{ commission.type.price }} </span>
        {% if commission.paid %}
        <span> Paid </span>
        {% else %}
        <span> Unpaid </span>
        {% endif %}

        <span> <span><a href="{% url 'commission' commission.id %}">See Commission</a></span> </span>
        
        </p>
        

    {% endfor %}

{% endblock %}
