<!--
********************************************************************

ORIGINAL CODE IN THIS FILE COPIED FROM:

https://github.com/Code-Institute-Solutions/AuthenticationAndAuthorisation/tree/master/07-CustomAuthentication/01-email_authentication/accounts/templates

********************************************************************
-->

{% extends 'base.html' %}

{% block page_heading %}
My Commissions
{% endblock %}

{% block content %}
    
{% if not commissions %}

<p>You haven't commissioned anything yet!</p>

<p><a href="{% url 'request_commission' %}">Request one here</a></p>    

{% else %}

<p>Here are items you have commissioned. Click on the link to see your preview.</p>

<table class="table table-striped text-center price-table">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Price in €</th>
            <th scope="col">Status</th>
        </tr>
    </thead>

    <tbody>
    {% for commission in commissions %}
    <tr>
        <td> <a href="{% url 'commission' commission.id %}">{{ commission.name }}</a> </td>
        <td> {{ commission.description }} </td>
        <td> {{ commission.type.price }} </td>
        {% if commission.paid %}
        <td> Paid </td>
        {% else %}
        <td> Unpaid </td>
        {% endif %}
    </tr>
    {% endfor %}

    </tbody>
</table>



{% endif %}

{% endblock %}
