<!--
********************************************************************

ORIGINAL CODE IN THIS FILE COPIED FROM:

https://github.com/Code-Institute-Solutions/AuthenticationAndAuthorisation/tree/master/07-CustomAuthentication/01-email_authentication/accounts/templates

********************************************************************
-->

{% extends 'base.html' %} {% block page_heading %}User Registration{% endblock %} {% block content %}
<p>If you already have an account, you can <a href="{% url 'login' %}">sign in </a></p>
<form method="POST">
    {% csrf_token %} {{ registration_form.as_p }}
    <button type="submit">Register</button>
</form>
{% endblock %}